
*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1550px;
    margin: auto;
    font-family: "Inter", sans-serif;
}

/* common style */
.btn-primary{
    font-family: "Inter", sans-serif;
    background-color: #1D4ED8;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px 41px 12px 41px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}



/* Nav style start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23px 115px 23px 115px;
}
 nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-family: "Arimo", sans-serif;
    text-decoration: none;
    margin-right: 24px;
    color: #575757;
    font-weight: 500;
    font-size: 16px;
}
/* nav style end */

/* Header/banner style start */
.banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/banner.jpg");
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner h1{
    font-weight: bold;
    font-size: 80px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 136px;
    padding-bottom: 16px;
}
.banner p{
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 278px;
}
.banner-btn{
    text-align: center;
    padding-bottom: 349px;
}
.btn-primary-2{
    background-color: #1D4ED8;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 25px 62px 25px 62px;
    border: none;
    font-weight: bold;
    font-size: 24px;
}
/* Header style end */

/* Speakers style start */
.speakers{
    margin-bottom: 80px;

}
.speakers h1{
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 56px;

}
.speaker-container{
    max-width: 1320px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
.speaker-p-1{
    color: #2563EB;
    font-weight: 600;
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.speaker-card h2{
    color: #0D1B2A;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}
.speaker-p-2{
    color: #575757;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 24px;
}
/* speaker section end */

/* pricing style start */
.pricing{
    margin-bottom: 80px;
}
.pricing h1{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 12px;
}
.pricing p{
    text-align: center;
    font-weight:400;
    font-size: 16px;
    margin-bottom: 12px;
}
hr{
    color: #E5E7EB;
    margin-top: 20px;
    margin-bottom: 20px;
}
#pro-card hr{
    color: #575656;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pricing-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
     margin-top: 48px;
}
.pricing-card{
    border: 0.25px solid #eceaea;
    text-align: left;
    padding: 32px 32px;
    border-radius: 12px;
}
.pricing-card h4{
    text-align: left;
    color: #888888;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 8px;
}
.pricing-card h2{
    text-align: left;
    color: #0D1B2A;
    font-weight:bold;
    font-size: 44px;
    margin-bottom: 4px;
}
.pricing-card p{
    text-align: left;
    color: #888888;
    font-weight:400;
    font-size: 13px;
}
.pricing-card ul li{
    color: #333333;
    font-weight:400;
    font-size: 14px;
    margin-bottom: 10px;
}
#contact-card{
    background-color: #f7f7f7;
}


.btn-get-standard{
    color: #2563EB;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 106px 11px 106px;
    border:1px solid #2563EB;
    border-radius: 8px;
    margin-top: 20px;

}
.btn-get-pro{
    background-color: #2563EB;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 106px 11px 106px;
    border:1px solid #2563EB;
    border-radius: 8px;
    margin-top: 20px;

}
.btn-contact-us{
    background-color:#FFFFFF ;
    color: #0D1B2A;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 106px 11px 106px;
    border:1px solid #0D1B2A;
    border-radius: 8px;
    margin-top: 20px;
}
#pro-card{
    background-color: #0D1B2A;
}
#pro-card h4{
    color: #93C5FD;
}
#pro-card h2{
    color: #FFFFFF;
}
#pro-card p{
    color: #FFFFFF;
}
#pro-card li{
    color: #FFFFFF;
}
